body {
  margin: 0px;
}

.night {
  background: #0A1931;
  width: 100vw;
  height: 150vh;
  color: #fff;
  position: relative;
}

.moon {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 56px;
}

.star {
  position: absolute;
  bottom: -30px;
  font-size: 24px;
}