body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f2ee;
    color: #4e4a42;
}

/* Navigation */
.navbar {
    background: #c8c0b8;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #4e4a42;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #4e4a42;
    font-size: 16px;
}

/* Slider */
.slider {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e8e2dc;
    border: none;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    color: #5b564f;
    /*border-radius: 100%;*/
}

.left { left: 10px; }
.right { right: 10px; }

/* Content */
.content {
    width: 80%;
    margin: 30px auto;
}

.item {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.item img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 20px;
}

.item p {
    font-size: 17px;
    line-height: 1.6;
}

/* Footer */
footer {
    background: linear-gradient(#aaa59a);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 13px;
  }
  

/* Responsive */
@media (max-width: 600px) {
    .item {
        flex-direction: column;
        text-align: center;
    }

    .item img {
        margin-bottom: 15px;
    }
}

